/* Big tab to 1200px*/
@media only screen and (max-width:1200px){
    html,body{
        width: 100%;
    }

    .button2{
        position: absolute;
        width: 12%;
        height: 38%;
        right: 55px;
        top: 30px;
    }
    .container2,.container3{
        display: flex;
        flex-wrap: wrap;
        padding: 10% 20px 0px 6%;
        color: #fff;
        align-items: flex-start;
        line-height: 30px;
        column-gap: 50px;
    }
    .items{
        width: 25.30%;
        box-sizing: border-box;
        padding-right: 10px;

    }    
    .container4{column-gap: 60px;}
    .sec7text .headsec2{font-size: 23px;}
    .sec7text h2{
        font-size: 33px;
    }
    .vertdiv{
        position: absolute;
        right: 5%;
        top: -24%;
        max-width: 30%;
        max-height: 150%;
        float: right;
    }
}

/* Small tab to big tab*/
@media only screen and (max-width:1023px){
    html,body{
        width: 100%;
    }
    .main-nav li .no-display{
        display: none;
    }
    h1{font-size: 40px;}

    .first-gif{
        position: absolute;
        top: 10%;
        left: 30%;
        width: 30%;
        height: 40%;
    }
    .hero-text-box {
        position: absolute;
        width: 80%;
        height: 30%;
        top: 65%;
        left: 11%;
        color: #fff;
        text-align: center;
        
    }
    .section-2{
        height: 5500px;
        
    }
    .container{
       clear: both;

    }
    .item{
        width: 50%;
        box-sizing: border-box;  
    }

    .item:nth-child(1){order:2;}
    .item:nth-child(2){order: 4;}
    .item:nth-child(3){order: 6;}
    .item:nth-child(4){order: 1;}
    .item:nth-child(5){order: 3;}
    .item:nth-child(6){order: 5;}

    #item1,#item2,#item3{
        border-bottom: 4px solid hsla(0,0%,100%,.2);
        border-top: none;
        width: 100%;

    }
    .item img{
        width: 140%;
        height: 60%;
    
    }
    .item p{
        font-size: 18px;
        padding-top: 20px;
        white-space: nowrap;
        width: 90%;
        padding: 3% 2% 0 0%;
    }
    .item h3{padding-top: 20px;}



    .child p{
        font-size: 25px;
        text-align: start;
        margin-left: -10%;
        margin-top: -60px;
    }
    .sub-div{
        padding: 8%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .sub-div img{
        position: relative;
        left: 20%;
        width: 60%;
        height: 40%;
    }
    .sub-div2{
        padding: 10%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .sub-div2 .sec2img{
        width: 60%;
        height: 100%;
        position: relative;
        top: -80%;
        left: 20%;
    }
    .description2{
        float: left;
        height: 90%;
        width: 100%;
        font-size: 25px;
        position: relative;
        top: 110%;
        margin-left: -3%;
    }
    #last-sec2{
        position: relative;
        top: 5%;

    }
    #last-sec2 .description2{
        float: left;
        height: 90%;
        width: 100%;
        font-size: 25px;
        position: relative;
        top: -170%;
        margin-left: 3%;

    }

    .container2{
        display:flex;
        flex-wrap: wrap;
        padding: 10% 10px 0px 6%;
        color: #fff;
        align-items: flex-start;
        line-height: 30px;
        column-gap: 10px;
    }
    .items{
        width: 60%;
        box-sizing: border-box;  
    }



}